main.spec
/__pycache__
/Biblioteka - ZHP Pabianice
/database/__pycache__
/view/Button/__pycache__
/view/Entries/__pycache__
/view/Menu/__pycache__
/view/Search/__pycache__
/view/Treeview/__pycache__
/view/Menu/Color/__pycache__
/view/Menu/Tab/__pycache__
/view/Menu/Database/__pycache__
/view/Menu/Info/__pycache__
.gitignore